<html>
  <head>
    <title>Warehouse Management System</title>
  </head>
  <body>

    <br>

    <table border="1">
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Category</th>
        <th>RFID</th>
      </tr>
      {% for task in Product %}
      <tr>
        <td>{{ task[0] }}</td>
        <td>{{ task[1] }}</td>
        <td>{{ task[2] }}</td>
        <td>{{ task[3] }}</td>
      </tr>
      {% endfor %}
    </table>

    <br>

    <!-- Tombol ke update.html dan delete.html -->
    <form action="/update" method="get" style="display: inline;">
      <button type="submit">Update</button>
    </form>

    <form action="/delete" method="get" style="display: inline;">
      <button type="submit">Delete</button>
    </form>

  </body>
</html>
